.shops-nav{
  background-color: #C51942;
  height: 3rem;
}

.navbar-brand{
  font-family: Ubuntu-Bold;
  padding: 0px;
  margin: 0px;
}


.navbar-collapse, #navbarSupportedContent{
  font-family: Ubuntu;
  padding: auto;
  margin: auto;
}


.navbar{
  padding: 2px;
  margin: 0px;
}

.serach-box{
  padding: 6px;
  margin: 6px;
}


.app-logo-title{
  width: 20%;
  padding: 0px;
  margin: 0px;
}

.app-logo {
  height: 2.7rem;
}

.active .nav-link {
  color: antiquewhite;
  font-weight: bold;
}


.navbar-light .navbar-nav .nav-link {
  color: white;
}
